<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.A_Eye.myapp.mapper.adMapper">
	<select id="getUserAds"
		parameterType="com.A_Eye.myapp.model.userVO"
		resultType="com.A_Eye.myapp.model.adVO">
		SELECT a.*, b.AD_EXPO_NUM
		FROM TBL_AD a LEFT OUTER JOIN
		(SELECT ad_IDX, COUNT(*) AS AD_EXPO_NUM
		FROM TBL_EXPOSURE
		GROUP BY
		AD_IDX) b on(a.ad_IDX = b.ad_IDX)
		WHERE USER_IDX = #{user_idx}
	</select>
	<select id="Advertising" resultType="com.A_Eye.myapp.model.adVO">
		SELECT *
		FROM TBL_AD
		WHERE
		AD_APPROVAL = 'Y'
		ORDER BY ad_play_number DESC
	</select>
	<update id="updatePlayCount"
		parameterType="com.A_Eye.myapp.model.adVO">

		UPDATE TBL_AD
		SET ad_play_number = #{ad_play_number}
		WHERE ad_name = #{ad_name}
	</update>

	<select id="adBoard" resultType="com.A_Eye.myapp.model.adVO">
		SELECT a.*, p.PAY_DATE
		FROM TBL_AD a
		LEFT JOIN TBL_PAY p ON a.AD_IDX = p.AD_IDX
		WHERE a.USER_IDX=#{user_idx}
		AND a.AD_APPROVAL = 'Y'
	</select>
	

	<!-- <select id="adBoard" resultType="com.A_Eye.myapp.model.adVO">
		SELECT *
		FROM TBL_AD
		WHERE
		USER_IDX=#{user_idx}
	</select> -->
	
	  <select id="Addata" parameterType="com.A_Eye.myapp.model.userVO" resultType="com.A_Eye.myapp.model.adVO">
      SELECT *
      FROM TBL_AD
      WHERE USER_IDX = #{user_idx}
   </select>


</mapper>

