<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.A_Eye.myapp.mapper.exposureMapper">
	<select id="getMonthAd"
		parameterType="com.A_Eye.myapp.model.adVO"
		resultType="com.A_Eye.myapp.model.exposureVO">

		SELECT *
		FROM (SELECT expo_region AS expoRegion, region_count
		FROM (
		SELECT expo_region,
		ROW_NUMBER() OVER (ORDER BY COUNT(*) DESC) AS row_num,
		COUNT(*) AS region_count
		FROM tbl_exposure
		WHERE ad_idx = #{ad_idx}
		GROUP BY expo_region)
		WHERE row_num = 1) 
		CROSS JOIN
		(SELECT * FROM(
		SELECT TO_CHAR(EXPO_DATE, 'YYYY-MM') AS month,
		COUNT(*) AS month_count
		FROM TBL_EXPOSURE
		WHERE TO_CHAR(EXPO_DATE, 'YYYY') = '2024' AND ad_idx = #{ad_idx}
		GROUP BY TO_CHAR(EXPO_DATE, 'YYYY-MM')
		ORDER BY month DESC)
		WHERE ROWNUM = 1) 
		CROSS JOIN
		(SELECT * FROM(
		SELECT TO_CHAR(EXPO_DATE, 'YYYY-MM-DD') AS day,
		count(*) AS day_count
		FROM TBL_EXPOSURE
		WHERE TO_CHAR(EXPO_DATE, 'YYYY') = '2024' AND ad_idx = #{ad_idx}
		GROUP BY TO_CHAR(EXPO_DATE, 'YYYY-MM-DD')
		ORDER BY day DESC)
		WHERE ROWNUM = 1)
	</select>
</mapper>

